
@{
    Layout = "~/Views/Shared/_KLayout.cshtml";

}

@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />*@
@section MyCSS
{
    
}
@**  </head>
    <body>*@
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Purchase Report</h2>
    </div>
    <div class="panel-body">


        <table>
            <tr>
                <td>Start Date</td>
                <td><input type='date' name='StartDate' id="StartDate" value=""></td>
                <td>End Date</td>
                <td><input type='date' name='EndDate' id="EndDate" value=""></td>
                <td><input type='submit' name='submit' id="submit" value="Search" style='color:green'></td>
            </tr>
        </table>
        <div id="stockPartial">
        </div>
        <div>

            @Html.ActionLink("Generate PDF", "PrintViewToPdf")
        </div>

    </div>
 </div>

    @section MyScript{

        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        <script>
    $(document).ready(function () {



                /////////////////////////////////

                $('#submit').click(function () {

                    var startdate = $("#StartDate").val();
                    var enddate = $("#EndDate").val();

                    var parameters = { startDate: startdate, endDate: enddate };

                    $.ajax({
                        url: "/PurchaseReport/GetPurchaseReportByDate",
                        type: "GET",//GET/POST
                        data: parameters,// JSON.stringify({ ProductId: proId, startDate: startdate, endDate: enddate }),
                        success: function (data) {

                            var rdata = data;

                            $("#stockPartial").html(data);
                        },
                        error: function () { alert("Error"); }

                    });

                });





                ///////////////////////////







            });</script>
    }
    @* </body>
        </html>*@
