@model CompileError.Model.Model.Category
@{
    Layout = "~/Views/Shared/_KLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAll</title>
</head>
<body>
    <from method="post">
        <table style="width:100%">
            <tr>
                <th>Code</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>@Model.Code</td>
                <td>@Model.Name</td>

            </tr>
            <input type='submit' name='delete' value="Delete" style='color:green'>
            <br></br>



        </table>
    </from>
</body>
</html>

